page-filters {
  ion-content {
    &.bg-color {
      background: rgba(0, 0, 0, 0.51) !important;
    }
  }

  .filter_container {
    background: $white;
    display: block;
    min-width: 218px;
    max-width: calc(100% - 50%);
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    overflow-x: hidden;
    position: relative;

    .header {
      width: 100%;
      background: $bg-color;
      padding: 21px 15px 13px 15px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 99;

      h2 {
        margin: 0;
        font-size: 1.9rem;
        color: darken($gray, 0%);
        font-weight: 500;

        span {
          color: $theme-color;
          font-size: 1.4rem;
        }
      }
    }

    .list {
      overflow: hidden;
      margin: 0;
      padding: 15px 19px 17px 19px;
      background: $white;
      border-top: 5px solid $bg-color;

      &:first-of-type {
        margin-top: 56px;
        border-top: 0px solid $bg-color;
      }

      &:last-of-type {
        margin-bottom: 45px;
      }

      h2 {
        margin: 0;
        font-size: 1.5rem;
        padding-bottom: 10px;
      }

      .item {
        padding: 10px 0px 10px 0;
        min-height: unset;

        .item-inner {
          padding: 0;

          .label {
            margin: 0;
            font-size: 1.35rem;
            color: darken($theme-color, 100%);
            font-weight: 500;
          }
        }

        .radio {
          margin: 0;
          margin: 0 20px;

          .radio-icon {
            border-width: 1px;
            border-color: lighten($gray, 20%);
            width: 14px;
            height: 14px;

            .radio-inner {
              width: 7.5px;
              height: 7.5px;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              border-radius: 50%;
            }

            &.radio-checked {
              border-color: $theme-color;

              .radio-inner {
                background: $theme-color;
              }
            }
          }

          &.radio-ios {
            .radio-icon {
              .radio-inner {
                width: 7.5px;
                height: 13.5px;
                border-radius: 0;
              }

              &.radio-checked {
                border-color: $theme-color;

                .radio-inner {
                  background: none;
                }
              }
            }
          }
        }

        &.item-radio-checked {
          .item-inner .label {
            color: $theme-color;
          }
        }
      }
    }
  }

  .button.btn[block] {
    border-radius: 0;
    position: absolute;
    bottom: 0;
    margin: 0;
  }
}
