<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title
      >{{ 'ongoing_courses' | translate }}
      <ion-icon class="material-icons end">search</ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item (click)="detailPacket(x.id_packet)" *ngFor="let x of dataMyPacket">
      <div class="img_box" item-start>
        <img src="{{ x.thum_packet }}" />
      </div>
      <h3>{{ x.name_packet }}</h3>
      <h4>By {{ x.name_company }}</h4>
      <div class="courses_completed">
        <p class="text-theme" text-end>35% {{ 'completed' | translate }}</p>
        <div class="courses_completed_rang">
          <div class="completed" style="width: 35%"></div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
