<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title
      >{{ name_category }}
      <span class="end">
        <ion-icon class="material-icons" (click)="filters()">filter_list</ion-icon>
        <ion-icon class="material-icons">search</ion-icon>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item (click)="courcedetails(x.id_packet)" *ngFor="let x of dataPackets">
      <div class="img_box" item-start>
        <img src="{{ x.thum_packet }}" />
      </div>
      <h3>{{ x.name_packet }}</h3>
      <h4>By {{ x.name_company }}</h4>
      <div class="charges_rating d-flex">
        <h5>{{ x.price_packet_sale | currency: 'Rp' }}</h5>
        <h6 class="end">
          <ion-badge style="text-decoration:line-through">{{ x.price | currency: 'Rp' }}</ion-badge>
          <!--(125)-->
        </h6>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
