page-courcedetails {
  .header .toolbar .title .toolbar-title ion-icon {
    padding: 0 6px;
    font-size: 2rem;

    &:last-child {
      padding-right: 0;
    }
  }

  .scroll-content {
    margin-top: 0 !important;
  }

  ion-content {
    &.bg-color {
      background: darken($bg-color, 5%) !important;
    }
  }

  .banner {
    position: relative;
    height: 355px;

    .banner_img {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 265px;

      img {
        position: absolute;
        top: 0;
        left: -50% !important;
        right: -50% !important;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }

    .list {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .item {
        padding-bottom: 0 !important;

        h2 {
          padding-bottom: 7px !important;
          font-size: 1.6rem !important;
        }

        .segment {
          border: none;
          background: none;
          margin-top: 10px;

          .segment-button {
            border: none;
            background: none;
            text-transform: none;
            opacity: 1;
            font-size: 1.5rem;
            color: lighten($gray, 10%);
            position: relative;
            font-weight: 500;

            &.segment-activated {
              color: $theme-color;

              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 65px;
                height: 3.5px;
                background: $theme-color;
              }
            }
          }
        }
      }
    }
  }

  .list {
    margin: 0;

    .item {
      padding: 20px;
      border-radius: 8px;
      margin: 0 auto;
      width: calc(100% - 16px);
      margin-bottom: 7px;
      box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);

      .item-inner {
        padding: 0;

        .label {
          white-space: normal;
          margin: 0;

          .writer_rating {
            h5 {
              color: lighten($gray, 20%);
              font-weight: 500;
              font-size: 1.2rem;
            }

            h6 {
              display: flex;
              align-items: center;
              color: $gray;
              font-size: 1.3rem;

              .badge {
                background: $green_color;
                font-weight: 400;
                font-size: 1.2rem;
                padding: 3px 7px 3px 7px;
                margin: 0 5px;
              }
            }
          }

          h2 {
            font-size: 1.55rem;
            font-weight: 500;
            padding-bottom: 13px;
            margin: 0;
            letter-spacing: 0;
          }
        }
      }

      &.course_brief {
        padding-bottom: 7px !important;

        .row {
          align-items: center;
          margin: 0 -5px;

          .col {
            padding-bottom: 13px;

            &.d-flex {
              align-items: flex-start;

              h4 {
                color: lighten($gray, 10%);
                font-size: 1.4rem;
                font-weight: 500;
              }

              h2 {
                padding-bottom: 0 !important;
              }

              ion-icon {
                margin-right: 16px;
                color: $theme-color;
                font-size: 2.1rem;
              }
            }
          }
        }
      }

      &.description {
        padding-bottom: 5px !important;

        p {
          font-size: 1.2rem;
          color: darken($gray, 20%);
          font-weight: 400;
          padding-bottom: 13px;
        }
      }

      &.created_by {
        padding-bottom: 15px !important;

        .creator_details {
          align-items: flex-start;

          .img_box {
            position: relative;
            overflow: hidden;
            min-width: 55px;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            margin-right: 20px;

            img {
              position: absolute;
              top: 0;
              left: -50% !important;
              right: -50% !important;
              bottom: 0;
              width: 100%;
              height: 100%;
              margin: auto;
            }
          }

          .details {
            display: block;
            width: 100%;
            margin-top: 10px;

            .row {
              margin: 0 -5px;
              padding-top: 10px;

              h6 {
                font-weight: 500;
                font-size: 1.3rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                span {
                  background: $green_color;
                  color: $white;
                  padding: 2px 8px;
                  font-size: 1rem;
                  font-weight: 500;
                  border-radius: 3px;
                }
              }
            }

            h3 {
              font-size: 1.4rem;
              font-weight: 500;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;

              span {
                font-size: 1.2rem;
                color: $fb_color;
              }
            }

            h4 {
              font-size: 1.15rem;
              color: lighten($gray, 15%);
              font-weight: 500;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }

    &.videos {
      overflow: hidden;
      border-radius: 8px;
      //background: $white;
      width: calc(100%);
      margin: 0 auto;
      margin-bottom: 20px;

      .item {
        margin-bottom: 1px;
        border-radius: 0;
        width: 100%;
        box-shadow: none;

        .item-inner .label {
          h2 {
            color: $gray;
            font-size: 1.35rem;
            padding-bottom: 20px;
          }

          .video_details {
            align-items: flex-start;
            padding-bottom: 20px;

            h3 {
              color: $theme-color;
              margin-right: 10px;
              font-size: 1.55rem;
              font-weight: 500;
            }

            h4 {
              font-size: 1.55rem;
              font-weight: 500;
            }

            h5 {
              font-size: 1.4rem;
              font-weight: 400;
              color: lighten($gray, 20%);
            }
          }
        }
      }

      .materi {
        overflow: hidden;
        border-radius: 8px;
        width: calc(100% - 16px);
        margin: 0 auto;
        margin-bottom: 20px;

        .item {
          width: 100%;
          border-top: 1px solid lighten($gray, 30%);
          border-radius: 0;
          margin-bottom: 0;
          box-shadow: none;

          p {
            font-size: 1.25rem;
            color: darken($gray, 20%);
            font-weight: 400;
            padding-top: 13px;
            line-height: 16px;
          }

          &.list_header {
            padding-bottom: 0;
            border-top: 0px;
          }

          .student_details {
            width: 100%;

            .student_img {
              position: relative;
              overflow: hidden;
              min-width: 40px;
              width: 59px;
              height: 50px;
              border-radius: 50%;
              margin-right: 15px;

              img {
                position: absolute;
                top: 0;
                left: -50% !important;
                right: -50% !important;
                bottom: 0;
                width: 100%;
                height: 100%;
                margin: auto;
              }
            }

            .detail {
              width: 100%;

              h3 {
                font-size: 1.4rem;
                font-weight: 500;
                margin: 0;

                span {
                  background: $green_color;
                  color: $white;
                  padding: 2px 8px;
                  font-size: 1rem;
                  font-weight: 500;
                  border-radius: 3px;
                }
              }

              h4 {
                margin: 0;
                color: $gray;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

    &.reviews {
      .item {
        .rating_box {
          align-items: flex-start;

          .ratings {
            background: $green_color;
            color: $white;
            border-radius: 8px;
            min-width: 89px;
            padding: 13px 0;
            padding-bottom: 22px;
            margin-right: 10px;

            h1 {
              margin: 0;
              font-size: 3rem;
              font-weight: 500;
            }

            p {
              font-size: 1rem;
              position: relative;
              top: 7px;
              color: $white;
            }
          }

          .reviews_box {
            width: 100%;

            .reviews_conainer {
              margin-bottom: 5px;

              &:last-child {
                margin-bottom: 0;
              }

              h6 {
                font-size: 1.1rem;
                font-weight: 400;
                color: $gray;
                margin: 0;
              }

              .rating_scale {
                position: relative;
                width: 69%;
                background: $bg-color;
                display: block;
                height: 3px;
                margin: 0 auto;

                .rating_scale_active {
                  position: absolute;
                  background: $theme-color;
                  height: 100%;
                  top: 0;
                  left: 0;
                  display: block;
                }
              }
            }
          }
        }
      }

      .student_feedbacks {
        overflow: hidden;
        border-radius: 8px;
        width: calc(100% - 16px);
        margin: 0 auto;
        margin-bottom: 20px;

        .item {
          width: 100%;
          border-top: 1px solid lighten($gray, 30%);
          border-radius: 0;
          margin-bottom: 0;
          box-shadow: none;

          p {
            font-size: 1.25rem;
            color: darken($gray, 20%);
            font-weight: 400;
            padding-top: 13px;
            line-height: 16px;
          }

          &.list_header {
            padding-bottom: 0;
            border-top: 0px;
          }

          .student_details {
            width: 100%;

            .student_img {
              position: relative;
              overflow: hidden;
              min-width: 40px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 15px;

              img {
                position: absolute;
                top: 0;
                left: -50% !important;
                right: -50% !important;
                bottom: 0;
                width: 100%;
                height: 100%;
                margin: auto;
              }
            }

            .detail {
              width: 100%;

              h3 {
                font-size: 1.4rem;
                font-weight: 500;
                margin: 0;

                span {
                  background: $green_color;
                  color: $white;
                  padding: 2px 8px;
                  font-size: 1rem;
                  font-weight: 500;
                  border-radius: 3px;
                }
              }

              h4 {
                margin: 0;
                color: $gray;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    background: $white;
    box-shadow: 0 -22px 38px -8px rgba(0, 0, 0, 0.2);

    .text {
      min-width: 180px !important;
      padding: 0 10px !important;

      h4 {
        margin: 0;
        font-size: 0.9rem;
        color: lighten($gray, 25%);
        font-weight: 400;
      }

      h2 {
        margin: 0;
        font-weight: 600;
        font-size: 1.9rem;
      }
    }

    .button.btn[block] {
      border-radius: 0;
      margin: 0;
      height: 55px;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 0;
    }
  }
}
