<!--
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>singin</ion-title>
    </ion-navbar>
</ion-header>
-->

<ion-content>
  <div class="banner">
    <div class="logo">
      <img src="assets/imgs/logo-app.png" />
    </div>
  </div>

  <div class="form">
    <button ion-button block class="btn fb">{{ 'sign_in_with_fb' | translate }}</button>

    <h2 text-center>{{ 'or_sign_in_with_email_id' | translate }}</h2>
    <ion-list no-lines>
      <ion-item class="">
        <ion-input
          type="text"
          autofocus="true"
          placeholder="{{ 'email_address' | translate }}"
          [(ngModel)]="formLogin.email"
          value=""
        ></ion-input>
      </ion-item>
      <ion-item class="">
        <ion-input
          type="password"
          placeholder="{{ 'password' | translate }}"
          [(ngModel)]="formLogin.password"
        ></ion-input>
        <h3 item-end>{{ 'forgot' | translate }}</h3>
      </ion-item>
    </ion-list>
    <button ion-button block class="btn" (click)="submitForm(formLogin)">{{ 'signin' | translate }}</button>
    <p text-center class="" (click)="signup()">
      {{ 'not_registered_yet' | translate }}<span>{{ 'sign_up_now' | translate }}</span>
    </p>
  </div>
</ion-content>
