page-home {
  .header .toolbar .title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;

    .app_title {
      text-align: center;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: -1;
      font-weight: 500;
      font-size: 1.85rem !important;
    }

    .end {
      position: relative;
      z-index: 99;
    }
  }

  .banner {
    position: relative;
    overflow: hidden;
    height: 227px;

    .banner_img {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 200px;

      img {
        position: absolute;
        top: 0;
        left: -50% !important;
        right: -50% !important;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: auto;
      }
    }

    .banner_text {
      position: absolute;
      width: calc(100% - 32px);
      bottom: 70px;
      left: 0;
      right: 0;
      margin: auto;

      .row {
        margin: 0 -5px;

        align-items: center;

        .col {
          color: $white;

          h2 {
            margin: 0;
            font-size: 1.5rem;
          }

          h1 {
            margin: 0;
            font-size: 2.25rem;
            font-weight: 400;
            padding-top: 6px;
          }

          .button.btn {
            height: 37px;
            font-size: 1.2rem;
            margin: 0;
          }
        }
      }
    }

    ion-searchbar {
      position: absolute;
      bottom: 4px;
      padding: 0;
      width: calc(100% - 16px);
      right: 0;
      left: 0;
      margin: auto;
      overflow: hidden;
      border-radius: 7px;
      background: $white;
      box-shadow: 0 -2px 8px 0px rgba(0, 0, 0, 0.5);

      .searchbar-input {
        padding: 10px 19px 10px 46px;
        font-size: 1.3rem;

        &::-webkit-input-placeholder {
          color: lighten($gray, 20%);
        }

        &::-moz-placeholder {
          color: lighten($gray, 20%);
        }

        &:-ms-input-placeholder {
          color: lighten($gray, 20%);
        }

        &:-moz-placeholder {
          color: lighten($gray, 20%);
        }
      }

      .searchbar-search-icon {
        top: 17px;
        background-image: url(../assets/imgs/search.png) !important;
        background-size: 16px;
        width: 20px;
        height: 20px;
      }

      &.searchbar-ios {
        height: auto;

        .searchbar-input {
          padding: 10px 19px 10px 46px !important;
          font-size: 1.3rem;
        }

        .searchbar-search-icon {
          top: 7px;
          left: 17px;
        }
      }
    }
  }

  .courses_categories {
    h2 {
      margin: 0;
      font-size: 1.5rem;
      padding: 20px;
    }

    .list {
      margin-bottom: 0;

      .item {
        padding: 0;
        background: none;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        width: calc(100% - 16px);
        margin: 0 auto;
        padding: 13px 18px 14px 0;

        .img_box {
          margin: 0;
          position: relative;
          overflow: hidden;
          width: 114px;
          height: 74px;
          border-radius: 8px;
          margin-right: 19px;
          box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.18);

          img {
            position: absolute;
            top: 0;
            left: -50% !important;
            right: -50% !important;
            bottom: 0;
            width: 100%;
            height: auto;
            margin: auto;
          }
        }

        .item-inner {
          padding: 0;

          .label {
            margin: 0;
            white-space: normal;

            h3 {
              font-size: 1.2rem;
              font-weight: 500;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            h4 {
              font-size: 1.2rem;
              font-weight: 500;
              color: lighten($gray, 25%);
              padding-top: 2px;
            }

            .courses_completed {
              p {
                margin: 0;
                font-size: 0.9rem;
                font-weight: 500;
              }

              .courses_completed_rang {
                width: 100%;
                height: 3px;
                position: relative;
                overflow: hidden;
                background: lighten($gray, 40%);
                margin-top: 5px;

                .completed {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  background: $theme-color;
                  height: 100%;
                  display: block;
                }
              }
            }
          }
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: calc(100% - 30px);
          height: 100%;
          border-radius: 8px;
          background: $white;
          z-index: -1;
        }
      }
    }

    .top_categories {
      padding-top: 8px;

      .row {
        width: calc(100% - 36px);
        margin: 0 auto;

        .col {
          padding: 4px;

          .categori_box {
            position: relative;
            width: 100%;
            height: 80px;
            border-radius: 7px;
            overflow: hidden;

            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #646161;
              opacity: 0.5;
            }

            img {
              position: absolute;
              top: 0;
              left: -50% !important;
              right: -50% !important;
              bottom: 0;
              width: 100%;
              height: 100%;
              margin: auto;
            }

            .text {
              position: absolute;
              bottom: 0;
              width: 100%;
              color: $white;
              padding: 0 13px 7px 13px;
              z-index: 99;

              h2 {
                padding: 0;
                font-size: 1.8rem;
                font-weight: 400;
              }

              p {
                margin: 0;
                font-size: 0.9rem;
                letter-spacing: 0.5px;
              }
            }
          }
        }
      }
    }
  }
}
