<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title
      ><span class="app_title">{{ 'app_title' | translate }}</span>
      <ion-icon class="material-icons end" (click)="notification()">notifications</ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <div class="banner">
    <div class="banner_img">
      <img src="assets/imgs/banner.png" />
    </div>
    <div class="banner_text">
      <ion-row>
        <ion-col col-8>
          <h2>Belajar islam lebih dalam</h2>
          <h1>Dengan Hompes!</h1>
        </ion-col>
        <ion-col col-4>
          <button ion-button block class="btn">{{ 'know_more' | translate }}</button>
        </ion-col>
      </ion-row>
    </div>
    <ion-searchbar
      (ionInput)="getItems($event)"
      placeholder="{{ 'search_text' | translate }}"
      (click)="search()"
    ></ion-searchbar>
  </div>

  <div class="courses_categories">
    <ion-list no-lines>
      <h2 class="d-flex">
        {{ 'ongoing_courses' | translate }} <span class="end text-theme">{{ 'view_all' | translate }}</span>
      </h2>
      <ion-item (click)="detailPacket(x.id_packet)" *ngFor="let x of dataMyPacket">
        <div class="img_box" item-start>
          <img src="{{ x.thum_packet }}" />
        </div>
        <h3>{{ x.name_packet }}</h3>
        <h4>By {{ x.name_company }}</h4>
        <div class="courses_completed">
          <p class="text-theme" text-end>35% {{ 'completed' | translate }}</p>
          <div class="courses_completed_rang">
            <div class="completed" style="width: 35%"></div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="top_categories">
      <h2 class="d-flex" (click)="goToMyApacket()">
        {{ 'top_categories' | translate }} <span class="end text-theme">{{ 'view_all' | translate }}</span>
      </h2>

      <ion-row>
        <ion-col col-6 *ngFor="let x of packetCategory">
          <div class="categori_box" (click)="category(x.id_packet_master_category, x.name_category)">
            <img src="{{ x.cover_category }}" />
            <div class="text">
              <h2>{{ x.name_category }}</h2>
              <p>5 Courses</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
