page-notification {
  .list {
    margin-bottom: 0;
    position: relative;
    padding-top: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 62px;
      background: $theme-color;
      z-index: -1;
    }

    .item {
      padding: 0;
      background: lighten($gray, 48%);
      border-radius: 8px;
      width: calc(100% - 16px);
      margin: 0 auto;
      padding: 18px 20px;
      margin-bottom: 8px;

      .item-inner {
        padding: 0;

        .label {
          margin: 0;
          white-space: normal;

          h2 {
            font-size: 1.4rem;
            font-weight: 500;
          }

          p {
            font-size: 1.3rem;
            font-weight: 500;
            padding-top: 10px;
            color: lighten($gray, 10%);
          }
        }
      }

      &.active {
        background: lighten($gray, 100%);
      }
    }
  }
}
