page-lecturerprofile {
  ion-content {
    &.bg-color {
      background: darken($bg-color, 5%) !important;
    }
  }

  .list {
    margin: 0;

    .item {
      padding: 20px;
      padding-bottom: 10px;
      border-radius: 8px;
      margin: 0 auto;
      width: calc(100% - 16px);
      border-radius: 8px;
      margin: 0 auto;
      width: calc(100% - 16px);
      margin-bottom: 7px;
      box-shadow: 0 8px 14px -8px rgba(0, 0, 0, 0.3);

      .item-inner {
        padding: 0;

        .label {
          white-space: normal;
          margin: 0;

          h4 {
            font-size: 1.15rem;
            color: lighten($gray, 15%);
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          h2 {
            font-size: 1.55rem;
            font-weight: 500;
            padding-bottom: 13px;
            margin: 0;
            letter-spacing: 0;
          }

          p {
            font-size: 1.25rem;
            color: darken($gray, 20%);
            font-weight: 400;
            padding-bottom: 13px;
            line-height: 16px;

            span {
              color: $theme-color;
              font-weight: 500;
            }
          }

          .icon_box {
            margin: 0 -7px;
            padding-bottom: 10px;
            padding-top: 10px;

            img {
              width: 38px;
              margin: 0 7px;
            }
          }
        }
      }
    }

    .banner {
      position: relative;

      .item {
        padding-bottom: 0;
        background: none;

        .segment {
          border: none;
          background: none;
          margin-top: 10px;
          padding-bottom: 0;

          .segment-button {
            border: none;
            background: none;
            text-transform: none;
            opacity: 1;
            font-size: 1.5rem;
            color: lighten($gray, 10%);
            position: relative;
            font-weight: 500;

            &.segment-activated {
              color: $theme-color;

              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 65px;
                height: 3.5px;
                background: $theme-color;
              }
            }
          }
        }

        .lecturer_details {
          align-items: flex-end;

          .lecturer_img {
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            min-width: 80px;
            width: 80px;
            height: 80px;
            margin-right: 20px;
            margin-left: 8px;

            img {
              position: absolute;
              top: 0;
              left: -50% !important;
              right: -50% !important;
              bottom: 0;
              width: 100%;
              height: 100%;
              margin: auto;
            }
          }

          .text {
            h2 {
              font-weight: 500;
              font-size: 1.5rem;
              padding: 0;
            }
          }
        }

        .row {
          margin: 0 -5px;
          align-items: center;
          padding-top: 20px;

          .col {
            text-align: center;

            h6 {
              font-size: 1.4rem;
              font-weight: 500;
              margin-bottom: 5px;

              span {
                background: $green_color;
                color: $white;
                padding: 1px 8.5px;
                font-size: 1.3rem;
                font-weight: 400;
                border-radius: 3px;
              }
            }
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 100%;
          height: calc(100% - 50px);
          background: $white;
          z-index: -1;
          border-radius: 8px;
        }

        &::before {
          height: 1px;
          background: $gray;
          z-index: 999;
          bottom: 39px;
          opacity: 0.2;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 63px);
        background: $theme-color;
        z-index: -1;
      }
    }

    &.video_section {
      .item {
        padding: 0;
        background: none;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        width: calc(100% - 16px);
        margin: 0 auto;
        padding: 16px 18px 17px 0;
        margin-bottom: 8px;

        .img_box {
          margin: 0;
          position: relative;
          overflow: hidden;
          width: 110px;
          height: 76px;
          border-radius: 8px;
          margin-right: 19px;
          box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.18);

          img {
            position: absolute;
            top: 0;
            left: -50% !important;
            right: -50% !important;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: auto;
          }
        }

        .item-inner {
          padding: 0;

          .label {
            margin: 0;
            white-space: normal;

            h3 {
              font-size: 1.2rem;
              font-weight: 500;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            h4 {
              font-size: 1.2rem;
              font-weight: 500;
              color: lighten($gray, 25%);
              padding-top: 4px;
            }

            .charges_rating {
              margin-top: 6px;

              h5 {
                color: $gray;
                font-weight: 500;
                font-size: 1.36rem;
              }

              h6 {
                display: flex;
                align-items: center;
                color: $gray;
                font-size: 1.3rem;

                .badge {
                  background: $green_color;
                  font-weight: 400;
                  font-size: 1.2rem;
                  padding: 3px 7px 3px 7px;
                  margin: 0 5px;
                }
              }
            }
          }
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: calc(100% - 18px);
          height: 100%;
          border-radius: 8px;
          background: $white;
          z-index: -1;
        }
      }
    }
  }
}
