<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon class="material-icons end">share</ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <div class="banner">
      <ion-item>
        <div class="lecturer_details d-flex">
          <div class="lecturer_img">
            <img src="assets/imgs/created.png" />
          </div>
          <div class="text">
            <h2>Jerry George</h2>
            <h4>New Jersey</h4>
          </div>
        </div>

        <ion-row>
          <ion-col col-4>
            <h6>886</h6>
            <h4>{{ 'subscribed' | translate }}</h4>
          </ion-col>
          <ion-col col-4>
            <h6>39</h6>
            <h4>{{ 'courses' | translate }}</h4>
          </ion-col>
          <ion-col col-4>
            <h6 class=""><span>4.2</span>&nbsp;(772)</h6>
            <h4>{{ 'avg_ratings' | translate }}</h4>
          </ion-col>
        </ion-row>
        <ion-segment [(ngModel)]="tab">
          <ion-segment-button value="about">
            {{ 'about' | translate }}
          </ion-segment-button>
          <ion-segment-button value="courses">
            {{ 'courses' | translate }}
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </div>
  </ion-list>
  <div class="tab_container" [ngSwitch]="tab">
    <!--About Start-->
    <ion-list no-lines class="about_section" *ngSwitchCase="'about'">
      <ion-item>
        <h2>{{ 'about' | translate }} Jerry</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and.,
        </p>
        <p>
          Industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centurie.
        </p>
      </ion-item>

      <ion-item>
        <h2>{{ 'socila_links' | translate }}</h2>
        <div class="d-flex icon_box">
          <img src="assets/imgs/fb.png" />
          <img src="assets/imgs/tw.png" />
          <img src="assets/imgs/you.png" />
          <img src="assets/imgs/in.png" />
          <img src="assets/imgs/be.png" />
        </div>
      </ion-item>
    </ion-list>
    <!--About end-->
    <!--Courses Start-->
    <ion-list no-lines class="video_section" *ngSwitchCase="'courses'">
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/1.png" />
        </div>
        <h3>UX Design - From Wireframe to Prototype logo UX Design</h3>
        <h4>Jerry Geirge</h4>
        <div class="charges_rating d-flex">
          <h5>$25.00</h5>
          <h6 class="end">
            <ion-badge>4.5</ion-badge>
            (125)
          </h6>
        </div>
      </ion-item>

      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/c7.png" />
        </div>
        <h3>WordPress Theme Develoment with Boostsrap logo</h3>
        <h4>Kelly Williamson</h4>
        <div class="charges_rating d-flex">
          <h5>$35.00</h5>
          <h6 class="end">
            <ion-badge>4.4</ion-badge>
            (256)
          </h6>
        </div>
      </ion-item>
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/2.png" />
        </div>
        <h3>The Complete App Design Course - UX, UI and Design Thinking</h3>
        <h4>Linda George</h4>
        <div class="charges_rating d-flex">
          <h5>$45.00</h5>
          <h6 class="end">
            <ion-badge>4.5</ion-badge>
            (99)
          </h6>
        </div>
      </ion-item>
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/3.png" />
        </div>
        <h3>The Non-Technical Person's Guide to Building Products and Apps Logo</h3>
        <h4>Johnson Taylor</h4>
        <div class="charges_rating d-flex">
          <h5>$42.00</h5>
          <h6 class="end">
            <ion-badge>4.3</ion-badge>
            (375)
          </h6>
        </div>
      </ion-item>
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/4.png" />
        </div>
        <h3>Mobile App Design from scratch with Sketch 3 : Ux and UI</h3>
        <h4>Amends Smith</h4>
        <div class="charges_rating d-flex">
          <h5>$25.00</h5>
          <h6 class="end">
            <ion-badge>4.5</ion-badge>
            (125)
          </h6>
        </div>
      </ion-item>
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/1.png" />
        </div>
        <h3>UX Design - From Wireframe to Prototype logo UX Design</h3>
        <h4>Jerry Geirge</h4>
        <div class="charges_rating d-flex">
          <h5>$25.00</h5>
          <h6 class="end">
            <ion-badge>4.5</ion-badge>
            (125)
          </h6>
        </div>
      </ion-item>

      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/c7.png" />
        </div>
        <h3>WordPress Theme Develoment with Boostsrap logo</h3>
        <h4>Kelly Williamson</h4>
        <div class="charges_rating d-flex">
          <h5>$35.00</h5>
          <h6 class="end">
            <ion-badge>4.4</ion-badge>
            (256)
          </h6>
        </div>
      </ion-item>
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/2.png" />
        </div>
        <h3>The Complete App Design Course - UX, UI and Design Thinking</h3>
        <h4>Linda George</h4>
        <div class="charges_rating d-flex">
          <h5>$45.00</h5>
          <h6 class="end">
            <ion-badge>4.5</ion-badge>
            (99)
          </h6>
        </div>
      </ion-item>
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/3.png" />
        </div>
        <h3>The Non-Technical Person's Guide to Building Products and Apps Logo</h3>
        <h4>Johnson Taylor</h4>
        <div class="charges_rating d-flex">
          <h5>$42.00</h5>
          <h6 class="end">
            <ion-badge>4.3</ion-badge>
            (375)
          </h6>
        </div>
      </ion-item>
      <ion-item (click)="courcedetails()">
        <div class="img_box" item-start>
          <img src="assets/imgs/4.png" />
        </div>
        <h3>Mobile App Design from scratch with Sketch 3 : Ux and UI</h3>
        <h4>Amends Smith</h4>
        <div class="charges_rating d-flex">
          <h5>$25.00</h5>
          <h6 class="end">
            <ion-badge>4.5</ion-badge>
            (125)
          </h6>
        </div>
      </ion-item>
    </ion-list>
    <!--Courses End-->
  </div>
</ion-content>
