<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'bookmarked' | translate }}<ion-icon class="material-icons end">search</ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-color">
  <ion-list no-lines>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/1.png" />
      </div>
      <h3>UX Design - From Wireframe to Prototype logo UX Design</h3>
      <h4>Jerry Geirge</h4>
      <div class="charges_rating d-flex">
        <h5>$25.00</h5>
        <h6 class="end">
          <ion-badge>4.5</ion-badge>
          (125)
        </h6>
      </div>
    </ion-item>

    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/c7.png" />
      </div>
      <h3>WordPress Theme Develoment with Boostsrap logo</h3>
      <h4>Kelly Williamson</h4>
      <div class="charges_rating d-flex">
        <h5>$35.00</h5>
        <h6 class="end">
          <ion-badge>4.4</ion-badge>
          (256)
        </h6>
      </div>
    </ion-item>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/2.png" />
      </div>
      <h3>The Complete App Design Course - UX, UI and Design Thinking</h3>
      <h4>Linda George</h4>
      <div class="charges_rating d-flex">
        <h5>$45.00</h5>
        <h6 class="end">
          <ion-badge>4.5</ion-badge>
          (99)
        </h6>
      </div>
    </ion-item>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/3.png" />
      </div>
      <h3>The Non-Technical Person's Guide to Building Products and Apps Logo</h3>
      <h4>Johnson Taylor</h4>
      <div class="charges_rating d-flex">
        <h5>$42.00</h5>
        <h6 class="end">
          <ion-badge>4.3</ion-badge>
          (375)
        </h6>
      </div>
    </ion-item>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/4.png" />
      </div>
      <h3>Mobile App Design from scratch with Sketch 3 : Ux and UI</h3>
      <h4>Amends Smith</h4>
      <div class="charges_rating d-flex">
        <h5>$25.00</h5>
        <h6 class="end">
          <ion-badge>4.5</ion-badge>
          (125)
        </h6>
      </div>
    </ion-item>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/1.png" />
      </div>
      <h3>UX Design - From Wireframe to Prototype logo UX Design</h3>
      <h4>Jerry Geirge</h4>
      <div class="charges_rating d-flex">
        <h5>$25.00</h5>
        <h6 class="end">
          <ion-badge>4.5</ion-badge>
          (125)
        </h6>
      </div>
    </ion-item>

    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/c7.png" />
      </div>
      <h3>WordPress Theme Develoment with Boostsrap logo</h3>
      <h4>Kelly Williamson</h4>
      <div class="charges_rating d-flex">
        <h5>$35.00</h5>
        <h6 class="end">
          <ion-badge>4.4</ion-badge>
          (256)
        </h6>
      </div>
    </ion-item>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/2.png" />
      </div>
      <h3>The Complete App Design Course - UX, UI and Design Thinking</h3>
      <h4>Linda George</h4>
      <div class="charges_rating d-flex">
        <h5>$45.00</h5>
        <h6 class="end">
          <ion-badge>4.5</ion-badge>
          (99)
        </h6>
      </div>
    </ion-item>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/3.png" />
      </div>
      <h3>The Non-Technical Person's Guide to Building Products and Apps Logo</h3>
      <h4>Johnson Taylor</h4>
      <div class="charges_rating d-flex">
        <h5>$42.00</h5>
        <h6 class="end">
          <ion-badge>4.3</ion-badge>
          (375)
        </h6>
      </div>
    </ion-item>
    <ion-item (click)="courcedetails()">
      <div class="img_box" item-start>
        <img src="assets/imgs/4.png" />
      </div>
      <h3>Mobile App Design from scratch with Sketch 3 : Ux and UI</h3>
      <h4>Amends Smith</h4>
      <div class="charges_rating d-flex">
        <h5>$25.00</h5>
        <h6 class="end">
          <ion-badge>4.5</ion-badge>
          (125)
        </h6>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
