<ion-header>
  <!--
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>search</ion-title>
    </ion-navbar>
-->
  <ion-row>
    <ion-col col-11>
      <ion-searchbar
        [(ngModel)]="searchInput"
        (keydown)="getItems($event)"
        placeholder="{{ 'search_text' | translate }}"
      ></ion-searchbar>
    </ion-col>
    <ion-col col-1 (click)="dismiss()">
      <ion-icon class="material-icons" text-center>close</ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div class="recent_searches">
    <h2>{{ 'recent_searches' | translate }}</h2>
    <h3>Food photography cources</h3>
    <h3>UI/UX Designing cources</h3>
    <h3>How to create mock up in psd</h3>
  </div>

  <div class="top_categories">
    <h2 class="d-flex">
      {{ 'top_categories' | translate }} <span class="end text-theme">{{ 'view_all' | translate }}</span>
    </h2>

    <ion-row>
      <ion-col col-6 *ngFor="let x of packetCategory">
        <div class="categori_box" (click)="category(x.id_packet_master_category, x.name_category)">
          <img src="{{ x.cover_category }}" />
          <div class="text">
            <h2>{{ x.name_category }}</h2>
            <p>5 Courses</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
