page-signup {
  .banner {
    .logo {
      padding-top: 83px;
      padding-bottom: 100px;

      img {
        text-align: center;
        width: 169px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .button.btn.fb {
    background: $fb_color !important;
  }

  h2 {
    margin: 0;
    font-size: 1.55rem;
    margin-top: 23px;
    color: lighten($gray, 10%);
    margin-bottom: 32px;
    margin-top: 27px;
  }

  p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 27px;

    span {
      color: $theme-color;
      margin: 0 5px;
    }
  }
}
